@charset "UTF-8";
/*!
    Copyright @ JKD Team
    Author: fcdcyy@sina.cn
    Date: 2015-01-04 10:38:58 [AM]
*/
html, body, form, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, em, address, a, input, textarea, span, strong, img {
  margin: 0px;
  padding: 0px; }

body {
  font-size: 12px;
  color: #666; }

ul, dl {
  list-style: none; }

input, textarea, select, button {
  font-size: 12px;
  outline: none; }

img {
  border: none; }

a {
  color: #666;
  text-decoration: none;
  blr: expression(this.onFocus=this.blur());
  outline: none;
  /* -webkit-transition: color 0.8s ease;-moz-transition: color 0.8s ease;-o-transition: color 0.8s ease;transition: color 0.8s ease; */ }

a:hover {
  color: #ff000a; }

i, em {
  font-style: normal; }

table {
  border-collapse: collapse;
  margin: 0px; }

thead, tbody, tfoot, tr, td {
  margin: 0px; }

.hide {
  display: none; }

.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal; }

::selection {
  background: #e57779;
  color: #fff; }

::-webkit-selection {
  background: #e57779;
  color: #fff; }

::-moz-selection {
  background: #e57779;
  color: #fff; }

section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

.clear10 {
  clear: both;
  height: 10px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.pr, #top .fore {
  position: relative;
  z-index: 0; }

.pa {
  position: absolute; }

.tin {
  text-indent: 2em; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.fl, #top .top_l, #top .lh > li, .logo, #footer .footer_fw li {
  float: left; }

.fr, #top .top_r {
  float: right; }

.center {
  width: 1200px;
  margin: auto; }

.panel #top, .panel #header, .panel #content, .panel #footer {
  min-width: 1000px; }
.panel .center {
  width: 1000px; }

/********** top顶部 **********/
#top {
  height: 28px;
  line-height: 22px;
  padding-top: 6px;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  top: 0;
  left: 0; }
  #top .top_l {
    padding-left: 18px; }
    #top .top_l em {
      color: #ff000a; }
  #top .top_r {
    text-align: right; }
  #top .lh > li {
    /*margin-right: 10px;*/
    padding: 0 5px;
    border: 1px solid #fff; }
  #top .lh i {
    width: 7px;
    height: 4px;
    transition: .4s all; }
  #top .dd {
    text-align: left;
    line-height: 22px;
    padding-top: 5px;
    display: none; }
  #top .fore:hover {
    box-shadow: 0 0 10px #ddd;
    border: 1px solid #ddd;
    background: #fff; }
    #top .fore:hover i {
      transform: rotate(180deg); }
    #top .fore:hover .dd {
      display: block; }

.tel {
  color: #ff000a;
  font-size: 16px; }
  .tel em {
    width: 16px;
    height: 16px;
    background-position: 0 -9px;
    vertical-align: middle; }

/**********  header头部  *********/
#header {
  width: 100%;
  margin-top: 35px; }

.header_r {
  padding-right: 8px; }

.header_rt {
  text-align: right;
  line-height: 2.5; }
  .header_rt em {
    color: #f00; }

.logo {
  padding: 9px 0 9px 12px; }

/**********  footer底部  *********/
#footer {
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  margin-top: 20px;
  overflow: hidden; }
  #footer .footer_cn {
    margin-top: 26px; }
    #footer .footer_cn li {
      width: 164px;
      float: left; }
      #footer .footer_cn li:first-child .footer_bs {
        border-left: none; }
    #footer .footer_cn i {
      width: 40px;
      height: 40px; }
    #footer .footer_cn b, #footer .footer_cn span {
      display: block;
      color: #666;
      padding-top: 5px; }
    #footer .footer_cn span {
      color: #999; }
    #footer .footer_cn .footer_bs {
      border-left: 1px dotted #ccc; }
  #footer .footer_fw {
    text-align: left;
    margin-top: 26px;
    line-height: 24px; }
    #footer .footer_fw li {
      padding: 0 50px;
      max-width: 110px; }
      #footer .footer_fw li b {
        display: block;
        font-size: 14px; }
  #footer .footer_nav {
    padding: 34px 0 10px; }
    #footer .footer_nav li {
      float: left;
      padding: 0 14px;
      border-left: 1px solid #666; }
      #footer .footer_nav li:first-child {
        border-left: none; }
  #footer .footer_license span {
    padding: 0 5px 0 10px;
    border-left: 1px solid #e3dde3; }
  #footer .footer_license i {
    padding-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px; }
  #footer .footer_cx {
    margin: 16px 0 28px; }

.footer_i1 i {
  background-position: 0 -77px; }

.footer_i2 i {
  background-position: 0 -117px; }

.footer_i3 i {
  background-position: 0 -157px; }

.footer_i4 i {
  background-position: 0 -197px; }

.footer_i5 i {
  background-position: 0 -237px; }

.footer_i6 i {
  background-position: 0 -277px; }

.footer_lc1 i {
  background-position: 0 -320px; }

.footer_lc2 i {
  background-position: 0 -340px; }

.footer_lc3 i {
  background-position: 0 -360px; }

.footer_lc4 i {
  background-position: 0 -380px; }

/*分页样式*/
.paging {
  text-align: center; }
  .paging a {
    border: 1px solid #e2e0e0; }
  .paging a, .paging span {
    padding: 5px 10px;
    margin-left: 5px; }
  .paging a:hover, .paging span {
    background: #6d6d6d;
    border: 1px solid #666;
    color: #fff; }

#top, #header, #footer {
  font-family: SimSun; }

body, .tel {
  font-family: Microsoft yahei; }

#top .lh i, .tel em, #footer .footer_cn i, #footer .footer_license i {
  background-image: url(../images/icon.png);
  background-repeat: no-repeat; }

#top .lh i, .tel em, #footer .footer_cn, #footer .footer_cn i, #footer .footer_fw, #footer .footer_nav ul, #footer .footer_license, #footer .footer_license i, .paging a, .paging span {
  display: inline-block;
  *display: inline;
  zoom: 1; }

#top, #header, #footer {
  min-width: 1200px; }

.header_r {
  float: right; }

/*# sourceMappingURL=common.css.map */
