@charset "UTF-8";
/*!
    Copyright @ JKD Team
    Author: fcdcyy@sina.cn
    Date: 2015-01-04 10:38:58 [AM]
*/
html, body, form, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, em, address, a, input, textarea, span, strong, img {
  margin: 0px;
  padding: 0px; }

body {
  font-size: 12px;
  color: #666; }

ul, dl {
  list-style: none; }

input, textarea, select, button {
  font-size: 12px;
  outline: none; }

img {
  border: none; }

a {
  color: #666;
  text-decoration: none;
  blr: expression(this.onFocus=this.blur());
  outline: none;
  /* -webkit-transition: color 0.8s ease;-moz-transition: color 0.8s ease;-o-transition: color 0.8s ease;transition: color 0.8s ease; */ }

a:hover {
  color: #ff000a; }

i, em {
  font-style: normal; }

table {
  border-collapse: collapse;
  margin: 0px; }

thead, tbody, tfoot, tr, td {
  margin: 0px; }

.hide {
  display: none; }

.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  font-weight: normal; }

::selection {
  background: #e57779;
  color: #fff; }

::-webkit-selection {
  background: #e57779;
  color: #fff; }

::-moz-selection {
  background: #e57779;
  color: #fff; }

section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

.clear10 {
  clear: both;
  height: 10px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

.pr, #top .fore {
  position: relative;
  z-index: 0; }

.pa {
  position: absolute; }

.tin {
  text-indent: 2em; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.fl, #top .top_l, #top .lh > li, .logo, #footer .footer_fw li {
  float: left; }

.fr, #top .top_r {
  float: right; }

.center {
  width: 1200px;
  margin: auto; }

.panel #top, .panel #header, .panel #content, .panel #footer {
  min-width: 1000px; }
.panel .center {
  width: 1000px; }

/********** top顶部 **********/
#top {
  height: 28px;
  line-height: 22px;
  padding-top: 6px;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  top: 0;
  left: 0; }
  #top .top_l {
    padding-left: 18px; }
    #top .top_l em {
      color: #ff000a; }
  #top .top_r {
    text-align: right; }
  #top .lh > li {
    /*margin-right: 10px;*/
    padding: 0 5px;
    border: 1px solid #fff; }
  #top .lh i {
    width: 7px;
    height: 4px;
    transition: .4s all; }
  #top .dd {
    text-align: left;
    line-height: 22px;
    padding-top: 5px;
    display: none; }
  #top .fore:hover {
    box-shadow: 0 0 10px #ddd;
    border: 1px solid #ddd;
    background: #fff; }
    #top .fore:hover i {
      transform: rotate(180deg); }
    #top .fore:hover .dd {
      display: block; }

.tel {
  color: #ff000a;
  font-size: 16px; }
  .tel em {
    width: 16px;
    height: 16px;
    background-position: 0 -9px;
    vertical-align: middle; }

/**********  header头部  *********/
#header {
  width: 100%;
  margin-top: 35px; }

.header_r {
  padding-right: 8px; }

.header_rt {
  text-align: right;
  line-height: 2.5; }
  .header_rt em {
    color: #f00; }

.logo {
  padding: 9px 0 9px 12px; }

/**********  footer底部  *********/
#footer {
  width: 100%;
  background: #f5f5f5;
  text-align: center;
  margin-top: 20px;
  overflow: hidden; }
  #footer .footer_cn {
    margin-top: 26px; }
    #footer .footer_cn li {
      width: 164px;
      float: left; }
      #footer .footer_cn li:first-child .footer_bs {
        border-left: none; }
    #footer .footer_cn i {
      width: 40px;
      height: 40px; }
    #footer .footer_cn b, #footer .footer_cn span {
      display: block;
      color: #666;
      padding-top: 5px; }
    #footer .footer_cn span {
      color: #999; }
    #footer .footer_cn .footer_bs {
      border-left: 1px dotted #ccc; }
  #footer .footer_fw {
    text-align: left;
    margin-top: 26px;
    line-height: 24px; }
    #footer .footer_fw li {
      padding: 0 50px;
      max-width: 110px; }
      #footer .footer_fw li b {
        display: block;
        font-size: 14px; }
  #footer .footer_nav {
    padding: 34px 0 10px; }
    #footer .footer_nav li {
      float: left;
      padding: 0 14px;
      border-left: 1px solid #666; }
      #footer .footer_nav li:first-child {
        border-left: none; }
  #footer .footer_license span {
    padding: 0 5px 0 10px;
    border-left: 1px solid #e3dde3; }
  #footer .footer_license i {
    padding-right: 5px;
    vertical-align: middle;
    width: 20px;
    height: 20px; }
  #footer .footer_cx {
    margin: 16px 0 28px; }

.footer_i1 i {
  background-position: 0 -77px; }

.footer_i2 i {
  background-position: 0 -117px; }

.footer_i3 i {
  background-position: 0 -157px; }

.footer_i4 i {
  background-position: 0 -197px; }

.footer_i5 i {
  background-position: 0 -237px; }

.footer_i6 i {
  background-position: 0 -277px; }

.footer_lc1 i {
  background-position: 0 -320px; }

.footer_lc2 i {
  background-position: 0 -340px; }

.footer_lc3 i {
  background-position: 0 -360px; }

.footer_lc4 i {
  background-position: 0 -380px; }

/*分页样式*/
.paging {
  text-align: center; }
  .paging a {
    border: 1px solid #e2e0e0; }
  .paging a, .paging span {
    padding: 5px 10px;
    margin-left: 5px; }
  .paging a:hover, .paging span {
    background: #6d6d6d;
    border: 1px solid #666;
    color: #fff; }

#top, #header, #footer, .repwd .line {
  font-family: SimSun; }

body, .tel {
  font-family: Microsoft yahei; }

#top .lh i, .tel em, #footer .footer_cn i, #footer .footer_license i, .header_logo_box i {
  background-image: url(../images/icon.png);
  background-repeat: no-repeat; }

#top .lh i, .tel em, #footer .footer_cn, #footer .footer_cn i, #footer .footer_fw, #footer .footer_nav ul, #footer .footer_license, #footer .footer_license i, .paging a, .paging span {
  display: inline-block;
  *display: inline;
  zoom: 1; }

#top, #header, #footer {
  min-width: 1200px; }

.line .line-lb, .line .textbox_ui {
  float: left; }

.header_r {
  float: right; }

html {
  background: #fff; }

#header {
  -webkit-box-shadow: 0 2px 2px #efefef;
  -moz-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef; }

.sign_main:after, .otherAccout:after, .input_container:after {
  visibility: hidden;
  overflow: hidden;
  display: block;
  content: ".";
  clear: both;
  height: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

.user input, .pass input, .otherAccout i {
  background-image: url(../images/sign.png);
  background-repeat: no-repeat; }

/*.textbox_ui {
  .valid, .invalid i {
    background-image: url(../images/sign.png);
    background-repeat: no-repeat;
  }
}*/
.sign {
  line-height: 1.5; }
  .sign h1 {
    font-weight: 400;
    color: #e31256; }

.pre_login h2 {
  font-weight: 400;
  color: #e31256; }

.sign input {
  vertical-align: middle; }
.sign .textbox_ui {
  position: relative;
  *zoom: 1; }
.sign .act, .sign .line {
  font-size: 12px;
  clear: both;
  color: #333;
  height: 65px; }
.sign form p {
  margin: 10px 0; }

.content_body {
  padding-top: 40px; }

.textbox_ui input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #CFCFCF;
  background-color: #fff;
  vertical-align: middle;
  padding: 10px 8px;
  line-height: 1.5;
  font-size: 14px;
  outline: 0;
  height: auto;
  width: 284px; }
  .textbox_ui input:focus {
    -webkit-box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
    box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
    border-color: #A5D4ED; }
.textbox_ui .type_text_focus, .textbox_ui .type_email_focus, .textbox_ui .type_password_focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
  box-shadow: 0 0 4px 1px rgba(32, 157, 230, 0.4);
  border-color: #A5D4ED; }

.sign .error_ui input {
  -webkit-box-shadow: 0 0 4px 1px rgba(228, 36, 36, 0.6);
  box-shadow: 0 0 4px 1px rgba(228, 36, 36, 0.6);
  border-color: #E24A4A;
  display: block; }

.textbox_ui {
  /*.valid, .invalid, .loading, .focus_text {
    position: absolute;
    line-height: 1.5;
    display: none;
  }
  .valid, .loading {
    margin-top: -.75em;
    margin-left: 10px;
    left: 100%;
    top: 50%;
  }
  .invalid i {
    background-position: 0 -100px;
    position: absolute;
    left: -20px;
    top: 50%;
  }*/
  /*.loading {}
  .valid, .loading, .invalid i {
    margin-top: -10px;
    height: 20px;
    width: 20px;
  }
  .valid {
    background-position: 0 -125px;
  }*/ }

.sign .textbox_ui p {
  margin: 0; }

.invalid .required, .invalid .custom, .invalid .format {
  display: none; }

.textbox_ui .invalid, .textbox_ui .focus_text {
  display: none;
  word-break: keep-all;
  white-space: nowrap;
  color: #999;
  /*top: 100%;*/
  left: 0;
  margin-top: 2px; }
.textbox_ui .invalid {
  display: none;
  height: 1.5em;
  left: 20px; }

:focus ~ .focus_text {
  display: block; }

.error_ui .focus_text {
  display: none; }

.line .line-lb, .line .textbox_ui {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.line .line-lb {
  margin: 11px 1em 0 -5em;
  text-align: right;
  font-size: 14px;
  width: 10em; }

.sign .act {
  margin-left: 88px; }

.signok .valid, .signok .loading {
  margin-left: -25px; }

/*.loginBord {
  .valid, .loading {
    margin-left: -25px;
  }
}*/
.verityWrap input {
  width: 118px; }
.verityWrap a, .verityWrap img, .verityWrap .textbox_ui {
  vertical-align: middle;
  margin-right: 12px; }
.verityWrap img {
  height: 38px;
  border: 1px solid #cfcfcf; }
.verityWrap a, .verityWrap img {
  display: inline-block; }

.textbox_ui .safe {
  position: relative;
  line-height: 20px;
  display: none; }

.safe span {
  display: inline-block;
  background: #D0CECC;
  text-align: center;
  margin-right: 1px;
  width: 100px;
  color: #fff; }
.safe .rank0 {
  background: #EF2B6B; }
.safe .rank1 {
  background: orange; }
.safe .rank2 {
  background: green; }

input.type_reset, input.type_submit, input.type_button, input[type=reset], input[type=submit] {
  overflow: visible; }

.sign_butn {
  display: inline-block;
  font-family: inherit;
  word-break: keep-all;
  background: #ff000a;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 0 50px;
  height: 40px;
  color: #fff;
  border: 0;
  border-radius: 3px; }
  .sign_butn:hover {
    color: #fff; }

input.type_reset, input.type_submit, input.type_button {
  display: inline-block;
  font-family: inherit;
  word-break: keep-all;
  background: #ff000a;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  padding: 0 50px;
  height: 40px;
  color: #fff;
  border: 0;
  border-radius: 3px; }
input[type=reset], input[type=submit] {
  border: 1px solid #F9477A;
  display: inline-block;
  font-family: inherit;
  word-break: keep-all;
  background: #ff000a;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  line-height: 34px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  height: 34px;
  color: #fff;
  border: 0;
  width: 310px;
  border-radius: 3px;
  background: #e74649;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e74649 0%, #df3134 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e74649), color-stop(100%, #df3134));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e74649 0%, #df3134 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e74649 0%, #df3134 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e74649 0%, #df3134 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e74649 0%, #df3134 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74649', endColorstr='#df3134',GradientType=0 );
  /* IE6-9 */ }

.sign_butn:hover {
  border-color: #c81f52;
  text-decoration: none;
  background: #bf0616; }

input.type_reset:hover, input.type_submit:hover, input.type_button:hover {
  border-color: #c81f52;
  text-decoration: none;
  background: #bf0616; }
input[type=reset]:hover, input[type=submit]:hover {
  border-color: #ff000a;
  background: #c20009; }

.otherAccout {
  background-color: #f6f6f6;
  margin-bottom: 10px;
  padding-left: 1px;
  max-width: 303px;
  _width: 304px;
  *padding-bottom: 1px;
  *zoom: 1; }
  .otherAccout p {
    padding-left: 11px;
    line-height: 30px;
    color: #666; }
  .otherAccout a {
    text-decoration: none;
    margin: 0 1px 1px 0;
    line-height: 35px;
    background: #fff;
    padding: 0 10px;
    color: #000;
    width: 80px;
    float: left;
    _line-height: normal;
    _padding: 5px 10px; }
  .otherAccout i {
    filter: alpha(opacity=80);
    vertical-align: middle;
    display: inline-block;
    margin-right: .25em;
    opacity: .8;
    height: 24px;
    width: 24px;
    *cursor: pointer; }
  .otherAccout a:hover i {
    filter: none;
    opacity: 1; }
  .otherAccout .iqq {
    background-position: 0 -150px; }
  .otherAccout .i360 {
    background-position: 0 -175px; }
  .otherAccout .ituan {
    background-position: 0 -200px; }
  .otherAccout .iweibo {
    background-position: 0 -225px; }
  .otherAccout .ibaidu {
    background-position: 0 -250px; }
  .otherAccout .imogu {
    background-position: 0 -275px; }
  .otherAccout .irenren {
    background-position: 0 -300px; }
  .otherAccout .ixunlei {
    background-position: 0 -325px; }
  .otherAccout .ialipay {
    background-position: 0 -350px; }

.sign .shadow_l, .sign .shadow_r {
  position: absolute;
  height: 100%;
  width: 8px;
  top: 0;
  _height: expression(this.offsetParent.clientHeight); }
.sign .shadow_l {
  left: -9px; }
.sign .shadow_r {
  background-color: #fff;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  right: -9px; }

.sign_main {
  border: 1px solid #ddd;
  margin: 72px auto 20px;
  position: relative;
  display: block;
  width: 960px; }

@media all and (min-width: 0) {
  .sign .shadow_r {
    background-color: transparent;
    filter: none; } }
.sign .content_head {
  overflow: hidden;
  color: #333;
  padding: 30px 0 10px; }

.content_head h1 {
  font-size: 24px; }
.content_head a {
  float: right;
  margin-top: 1em; }
.content_head span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400; }

.sign h1 {
  font-family: "Microsoft YaHei", "微软雅黑", "黑体"; }

.loginWrap .verityWrap, .loginWrap .textbox_ui {
  height: 56px; }
.loginWrap .verityWrap .textbox_ui {
  display: inline-block;
  margin-bottom: 0;
  *display: inline;
  *zoom: 1; }

.user input, .pass input {
  padding-left: 38px;
  width: 262px; }

.user input {
  background-position: 5px 0; }

.pass input {
  background-position: 5px -50px; }

.fl, #top .top_l, #top .lh > li, .logo, #footer .footer_fw li {
  float: left; }

.fr, #top .top_r {
  float: right; }

.loginWrap {
  margin: 72px auto;
  line-height: 1.5;
  width: 965px;
  border: 5px solid #e8e8e8; }
  .loginWrap .logo {
    display: block;
    width: 160px;
    height: 60px;
    margin: 0 0 40px 8px; }

.rename .logo {
  margin-bottom: 12px; }

.loginPic {
  position: relative;
  width: 960px;
  position: relative; }

.loginWrap .loginBord {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.075);
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ededed;
  position: absolute;
  min-height: 400px;
  padding: 0 23px;
  width: 310px;
  color: #333;
  top: 0px;
  right: 0; }

.freereg {
  padding: 0 26px;
  line-height: 32px;
  background: #7cbe56;
  border-radius: 0 0 3px 3px;
  font-size: 16px;
  position: absolute;
  bottom: -37px;
  right: 68px;
  font-family: "microsoft yahei"; }
  .freereg a {
    color: #fff;
    display: block; }
    .freereg a:hover {
      text-decoration: none; }

.rename .loginBord {
  top: -30px; }

.loginBord .notie {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  margin-bottom: 16px;
  color: #e31256; }
.loginBord .info {
  font-size: 14px;
  margin: 1em 0; }
.loginBord .loginTit {
  margin-top: 15px;
  line-height: 60px;
  *zoom: 1; }

.loginTit .tosignup {
  color: #969696;
  float: right; }
.loginTit h1 {
  font-weight: 400;
  font-size: 20px;
  color: #ff000a; }

.loginBord .pass {
  margin-top: 15px; }
.loginBord p a {
  color: inherit;
  *color: #333; }

.loginbtn {
  margin-bottom: 10px;
  outline: 0; }

.loginBord .invalid {
  width: 290px;
  white-space: normal;
  word-break: normal; }

#errorMsg {
  display: none;
  background-color: #ffc;
  border: 1px solid #FFCF6C;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px; }

@media all and (min-width: 0) {
  .otherAccout i {
    filter: none; }

  .loginWrap .loginBord {
    border: 0; } }
.signup .main {
  padding: 0 0 40px 50px; }
.signup .sidebar {
  position: absolute;
  right: 60px;
  top: 0; }

.sidebar .siderbar_head {
  margin: 70px 0 10px;
  font-size: 14px;
  color: #333; }

.signup .otherAccout {
  margin-top: 100px; }

.sign_main .tabnav {
  line-height: 36px;
  margin: -37px 0 0;
  width: 500px;
  padding-left: 200px; }

.tabnav a {
  border: 1px solid #ddd;
  display: inline-block;
  text-decoration: none;
  background: #fafafa;
  position: relative;
  margin-right: 2px;
  border-bottom: 0;
  padding: 0 20px;
  color: #666;
  *margin: 0;
  *zoom: 1;
  font-size: 14px; }
.tabnav .curr {
  background: #ff000a;
  padding-top: 1px;
  color: #fff;
  border: 0;
  font-weight: 700; }
  .tabnav .curr::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: inherit;
    position: absolute;
    display: block;
    bottom: -2px;
    content: "";
    height: 5px;
    width: 5px;
    right: 50%; }

.signup .phonecode, .side_signup .phonecode, .sendcode {
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: -o-linear-gradient(top, #fcfcfc, #f2f2f2);
  background: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
  border: 1px solid #d9d9d9;
  text-decoration: none;
  display: inline-block;
  line-height: 38px;
  font-weight: 700;
  padding: 0 20px;
  color: #666;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFCFCFC, endColorStr=#FFF2F2F2); }

.signup #phone {
  display: none; }

.resetreq_main {
  line-height: 1.5;
  font-size: 14px;
  color: #666; }
  .resetreq_main .main {
    width: 820px;
    margin: auto;
    padding: 50px 0;
    min-height: 410px;
    _height: 410px; }
  .resetreq_main .content_head {
    border-bottom: 1px solid #E9E9E9; }
  .resetreq_main .success_wrapper {
    text-align: center; }
  .resetreq_main .opt_success {
    display: inline-block;
    position: relative;
    margin: 40px auto;
    font-size: 20px;
    color: #ed145b;
    left: 25px;
    *display: inline;
    *zoom: 1; }

.opt_success b {
  background: url(/passport_web/dist/images/v0.1/account/login_sign/status_ok.png?1) no-repeat center;
  width: 55px;
  height: 55px;
  position: absolute;
  margin-top: -28px;
  left: -65px;
  top: 50%;
  background-image: url(/passport_web/dist/images/v0.1/account/login_sign/status_ok_8.png?1); }

.resetreq_main .check_mail {
  margin: 40px auto; }

.signok .main {
  margin: 65px 120px;
  line-height: 1.5;
  font-size: 14px;
  color: #666; }
.signok h1 {
  font-weight: 400;
  font-size: 24px;
  color: #ed145b; }
.signok .notice {
  border: 1px solid #EFE68B;
  padding: 0 30px 30px;
  background: #FEFFE5; }
.signok form {
  margin-bottom: 20px; }
.signok h2 {
  font-weight: 400;
  line-height: 65px;
  font-size: 18px;
  color: #8ec52b; }
.signok p {
  color: #333; }
.signok .textbox_ui {
  display: inline-block;
  vertical-align: top;
  margin: 0 1em;
  *display: inline;
  *height: 40px;
  *width: 302px;
  *zoom: 1; }
  .signok .textbox_ui input {
    *position: absolute;
    *left: 0; }
.signok p, .signok .notice {
  margin: 30px 0; }
.signok .sendmail {
  margin: 30px 0;
  font-size: 12px; }
.signok ol {
  list-style: disc inside;
  margin: 1em 0;
  color: #aaa; }
.signok .sign_butn {
  margin-top: 15px; }

.frame {
  background: 0; }
  .frame body {
    background: 0; }
  .frame .sign_main {
    background: #fff;
    margin: auto;
    width: 860px;
    border: 0; }
  .frame .shadow_l, .frame .shadow_r, .frame #envmsg {
    display: none; }

.pre_login h2 {
  margin-top: 40px;
  font-size: 20px; }
.pre_login .side_login {
  float: left;
  width: 50%; }
.pre_login form {
  width: 310px;
  margin-bottom: 40px;
  margin-left: 50px; }
.pre_login .side_signup {
  background: #f6f3ef;
  float: right;
  width: 50%; }

.email_main, .invite_friend {
  width: 950px;
  height: 510px;
  background: #fdf8fa;
  margin: 20px auto; }

.emai_top {
  width: 100%;
  height: 110px;
  background-position: top center;
  color: #fff;
  text-align: center;
  padding-top: 20px; }
  .emai_top .top_title {
    font-size: 18px; }
  .emai_top p {
    font-size: 12px;
    line-height: 30px; }

.email_center {
  width: 550px;
  height: 250px;
  margin: 0 auto 50px;
  position: relative;
  padding-top: 50px; }

.email_container {
  width: 947px;
  height: 380px;
  border: 1px solid #ded2d6;
  border-top: 0; }

.email_center .fail_icon {
  position: absolute;
  top: 50px; }
.email_center .success_icon {
  position: absolute;
  top: 50px;
  background-position: -337px -133px;
  width: 75px;
  height: 75px;
  left: 70px; }
.email_center .fail_icon {
  background-position: 0 -133px;
  width: 89px;
  height: 58px;
  left: 0; }
.email_center .fail_des {
  width: 360px;
  height: 210px;
  margin: 0 auto;
  color: #666;
  line-height: 24px; }

.fail_des .des_title, .success_con .success_title {
  font-size: 24px;
  padding-bottom: 30px; }

.fail_des ol {
  padding-bottom: 30px; }

.email_center .send_email, .email_center .login_email {
  width: 124px;
  height: 35px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

.success_con .to_jumei {
  width: 124px;
  height: 35px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer; }

.email_center .send_email {
  background-position: -90px -133px; }
.email_center .login_email {
  background-position: -90px -170px;
  margin-left: 20px; }
.email_center .success_con {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  color: #666; }

.success_con .to_jumei {
  background-position: -213px -133px; }

.invite_friend {
  border: 1px solid #ded2d6;
  -webkit-box-shadow: 0 0 2px 1px #ccc;
  box-shadow: 0 0 2px 1px #ccc; }

.invite_detail {
  float: left;
  height: 450px;
  margin-top: 30px; }

.invite_link {
  float: left;
  height: 450px;
  margin-top: 30px;
  height: 350px; }

.jiathis_style {
  height: 230px;
  overflow: hidden; }

.invite_detail {
  width: 620px;
  padding: 0 20px 20px 50px; }

.invite_link {
  width: 120px;
  padding: 25px 80px 0 30px;
  border-left: 1px solid #e5e5e5; }

.invite_detail .invite_title {
  font-size: 24px;
  color: #ec1a5d;
  width: 110px;
  margin: 0 auto;
  padding-bottom: 20px; }

.invite_con {
  color: #666;
  font-size: 12px;
  line-height: 20px; }
  .invite_con ol {
    padding-left: 50px;
    line-height: 30px; }
  .invite_con .intro {
    padding-left: 50px;
    line-height: 30px;
    padding-left: 30px; }
  .invite_con .share_links {
    margin-left: 30px; }
  .invite_con .login {
    padding-left: 50px; }
  .invite_con .im {
    padding-left: 20px; }

.share_links .invitation_logo, .share_links .share_text, .share_links .share_button {
  float: left; }
.share_links .invitation_logo {
  width: 36px;
  height: 36px;
  background-position: -218px -175px;
  display: inline-block; }
.share_links .share_text {
  height: 20px;
  padding: 5px 10px;
  margin-left: 20px;
  _margin-left: 10px; }
.share_links .share_button {
  width: 64px;
  height: 35px;
  background-position: -272px -170px;
  display: inline-block;
  margin-left: 20px;
  _margin-left: 10px;
  cursor: pointer; }

.side_tip .other_invition {
  width: 110px;
  color: #ec1a5d;
  padding: 10px;
  font-family: '华文仿宋,楷体';
  font-weight: 700;
  border-bottom: 1px solid #e5e5e5; }

.about_invition {
  margin-top: 10px; }
  .about_invition a {
    width: 120px;
    float: left;
    height: 30px;
    line-height: 20px;
    color: #666;
    text-decoration: none; }

.newad_sign {
  width: 960px;
  margin: 30px auto 0;
  overflow: hidden; }

.footer_copy_nav li {
  display: inline-block;
  *display: inline;
  zoom: 1; }
  .footer_copy_nav li span {
    padding: 0 5px; }
  .footer_copy_nav li:first-child span {
    display: none; }
.footer_copy_nav a:hover {
  color: #ff000a; }

.footer_tips {
  color: #c33;
  text-align: center;
  padding-top: 5px; }

.header_logo_box {
  display: inline-block;
  padding-top: 35px;
  float: right;
  color: #666; }

.header_logo_box a {
  color: #666; }

.header_logo_box a:hover {
  color: #ff000a;
  text-decoration: none; }

.header_logo_box i {
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
  background-position: 0 -1042px;
  vertical-align: middle;
  margin-top: -2px; }

.reg-box {
  width: 962px;
  margin: auto;
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px #d3d3d3; }

.reg-h {
  font-size: 24px;
  font-family: 'microsoft yahei';
  margin: 67px 0 0 118px; }

.mt70 {
  margin-top: 70px; }

.mt30 {
  margin-top: 30px; }

.reg-box form {
  padding-left: 70px; }

.repwd .lp_t {
  width: 820px;
  margin: auto;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 12px;
  padding-top: 80px; }
.repwd .lp_tl {
  font-size: 24px;
  font-family: 'microsoft yahei';
  color: #ff000a; }
.repwd .lp_tr {
  font-size: 14px; }
.repwd .lp_tr a {
  color: #ff000a; }
.repwd .reg-box form {
  padding-left: 70px; }
.repwd .reg-bu {
  margin: 14px 0 80px 118px;
  width: 161px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold; }
  .repwd .reg-bu a {
    color: #fff;
    display: block; }
    .repwd .reg-bu a:hover {
      text-decoration: none; }
  .repwd .reg-bu button {
    width: 100%;
    height: 100%;
    display: block;
    background: #ff000a;
    border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer; }
    .repwd .reg-bu button:hover {
      background: #bf0616; }
.repwd .line {
  margin: 30px 0;
  height: 45px; }
.repwd #sendMobileCode {
  margin-right: 0; }
.repwd .btn, .repwd .btn-comm {
  margin-left: 10px;
  border: 1px solid #dddddd;
  padding: 0;
  width: 106px;
  height: 36px;
  background: #f4f4f4;
  margin-top: 2px;
  text-align: center;
  line-height: 36px;
  color: #333;
  text-decoration: none;
  display: inline-block; }
.repwd .line label {
  margin: 1em 1em 0 -5em;
  text-align: right;
  font-size: 14px;
  width: 10em; }
.repwd .sign .act {
  margin-left: 88px; }
.repwd .line label, .repwd .line .textbox_ui {
  float: left; }
.repwd .msg-text {
  color: #999;
  margin-top: -38px;
  display: none; }
.repwd .ftx-01 {
  color: #ff000a; }

/*# sourceMappingURL=yd_sign.css.map */
